{% extends 'product/index.html' %}

{% block title %}
    فیلم
{% endblock %}


{% block content %}
    <div class="container-fluid col-12 content">
        <div class="col-lg-6 float-start bodycontent">
            <div class="card">
                <b class="text-center">{{ movies.name }}</b>
                <img src="{{ movies.image.url }}" class="card-img-top" alt="...">
                <div class="card-body" style="font-size: 14px;">
                    <p>اسم فارسی: <span style="font-weight: bold;">{{ movies.persian_name }}</span></p>
                    <p>ژانر: 
                        <span style="font-weight: bold;">
                        {% for cate in movies.category.all %}
                            {% if movies.type_movie == 1 %}
                                <a class="movie_category_tag_a" href="{% url 'product:category_cinematic' slug=cate.slug %}">{{ cate.title }}</a>
                            {% else %}
                                <a class="movie_category_tag_a" href="{% url 'product:category_serial' slug=cate.slug %}">{{ cate.title }}</a>
                            {% endif %}
                        {% endfor %}
                        </span></p>
                    <p>سال: <span style="font-weight: bold;">{{ movies.year }}</span></p>
                    <p>محصول کشور: 
                        <span style="font-weight: bold;">
                        {% for cate in movies.country.all %}
                            {% if movies.type_movie == 1 %}
                                <a class="movie_category_tag_a" href="{% url 'product:country_cinematic' slug=cate.slug %}">{{ cate.title }}</a>
                            {% else %}
                                <a class="movie_category_tag_a" href="{% url 'product:country_serial' slug=cate.slug %}">{{ cate.title }}</a>
                        {% endif %}
                        {% endfor %}
                        </span></p>
                    <p>کارگردان: <span style="font-weight: bold;">{{ movies.director }}</span></p>
                    <p>ستارگان: 
                      <span style="font-weight: bold;">
                        {% for artist in movies.artists.all %}
                          {{ artist.name }},
                        {% endfor %}
                      </span>
                    </p>
                    <p>خلاصه داستان: <span style="font-weight: bold;">{{ movies.MovieـSummary }}</span></p>
                </div>
            </div>
            <div class="comment_form">  
                <h4>
                    {% with comments.count as total_comments %}
                        نظرات ({{ total_comments }})
                    {% endwith %}
                </h4> 
                
                <div class="form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3 my-1">
                            <div class="col">
                                <label for="name">نام و نام خانوادگی:</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="نام و نام خانوادگی" aria-label="name">
                            </div>
                            <div class="col">
                                <label for="email">ایمیل:</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="ایمیل" aria-label="email">
                            </div>
                        </div>
                        <div class="row g-3 my-1">
                            <div class="col">
                                <label for="text">نظر:</label>
                                <textarea name="text" id="text" cols="5" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row g-3 my-1">
                            <div class="col">
                                <button type="submit" class="button_search_form">ثبت نظر</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="comment_show">
                {% for comment in comments %}
                    <div class="comment">
                        <div>
                            <span>آقا/خانم:</span>
                            <span>{{ comment.name }}</span>
                        </div>
                        <div>
                            <p>{{ comment.text|linebreaks }}</p>
                        </div>
                        <div class="date">
                            <span> {{ comment.created }} </span>
                        </div>
                    </div>
                {% empty %}
                    <p>
                        هنوز نظری درباره ی این‌ فیلم داده نشده است.
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>    
{% endblock %}