{% extends 'product/home.html' %}

{% block title %}
    دانلود فیلمdffgdfg
{% endblock %}


{% block content %}      
        <div class="bodycontent">
            {% for movie in foreign %}
            <div class="card m-1">
                <b class="text-center">{{ movie.name }}</b>
                <img src="{{ movie.poster.url }}" class="card-img-top" alt="...">
                <div class="card-body" style="font-size: 14px;">
                    <p>اسم فارسی: <span style="font-weight: bold;">{{ movie.persian_name }}</span></p>
                    <p>ژانر: 
                        <span style="font-weight: bold;">
                        {% for cate in movie.category.all %}
                        <a class="movie_category_tag_a" href="{% url 'product:category' slug=cate.slug %}">{{ cate.title }}</a>
                        {% endfor %}
                        </span>
                    </p>
                    <p>سال: <span style="font-weight: bold;">{{ movie.year }}</span></p>
                    <p>محصول کشور: 
                        <span style="font-weight: bold;">
                        {% for cate in movie.country.all %}
                        <a class="movie_category_tag_a" href="{% url 'product:country' slug=cate.slug %}">{{ cate.title }}</a>
                        {% endfor %}
                        </span>
                    </p>
                    <p>کارگردان: <span style="font-weight: bold;">{{ movie.director }}</span></p>
                    <p>ستارگان: <span style="font-weight: bold;">{{ movie.stars }}</span></p>
                    <p>خلاصه داستان: <span style="font-weight: bold;">{{ movie.MovieـSummary }}</span></p>
                    <a class="details_tag_a" href="{% url 'product:detail' slug=movie.slug %}">ادامه مطلب</a>
                </div>
            </div>  
            {% endfor %} 
        </div>
{% endblock %} 