{% extends "product/index.html" %}
{% load static %}


{% block slider %}
<div class="container"> 
    <div id="carouselExampleIndicators" class="carousel slide my-2 carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for poster in posters %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
      </div>
    <div class="carousel-inner">
      {% for poster in posters %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
          <a href="{% url 'product:detail' slug=poster.movie.slug %}"><img src="{{ poster.slide.url }}" style="height: 400px; border-radius: 5px;" class="d-block w-100 slider" alt="{{ poster.alt }}"></a>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
{% endblock slider %}

{% block search_form %}
  <div class="container search_form">
    <h3>جستجوی پیشرفته</h3>
    <form method="get">
      <div class="row">
        <div class="col-md-3">
          <label for="category">
            {{ search_form.category.label }}:
          </label>
          <div>
            <select class="form-control form-control-sm" name="category" id="category">
              <option value="">......</option>
              {% for cate in category %}
                <option value="{{ cate.id }}">{{ cate.title }}</option>
              {% endfor %}
            </select>
            {{ search_form.category.errors }}
          </div>
        </div>
        <div class="col-md-3">
          <label for="country">
            {{ search_form.country.label }}:
          </label>
          <div>
            <select class="form-control form-control-sm" name="country" id="country">
              <option value="">......</option>
              {% for country in countres %}
                <option value="{{ country.id }}">{{ country.title }}</option>
              {% endfor %}
            </select>
            {{ search_form.country.errors }}
          </div>
        </div>
        <div class="col-md-3">
          <label for="{{ field.id_for_label }}">
            {{ search_form.artist.label }}:
          </label>
          <div>
            <input class="form-control form-control-sm" type="text" name="artist" placeholder="اسم بازیگر مورد نظر ...">
            {{ search_form.artist.errors }}
          </div>
        </div>
        <div class="col-md-3">
          <label for="{{ field.id_for_label }}">
            {{ search_form.director.label }}:
          </label>
          <div>
            <input class="form-control form-control-sm" type="text" name="director" placeholder="اسم کارگردان مورد نظر ...">
            {{ search_form.director.errors }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="type_movie">نوع:</label>
          <select class="form-control form-control-sm" name="type_movie" id="type_movie">
            <option value='' selected>......</option>
            <option value=1>سینمایی</option>
            <option value=2>سریال</option>
          </select>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <button class="button_search_form" type="submit">جستجو</button>
        </div>
      </div>
    </form>
  </div>
{% endblock search_form %}
    
{% block content %}      
        <div class="bodycontent">
            {% for movie in movies %}
                <div class="card">
                    <b class="text-center">{{ movie.name }}</b>
                    <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body" style="font-size: 14px;">
                        <p>اسم فارسی: <span style="font-weight: bold;">{{ movie.persian_name }}</span></p>
                        <p>ژانر: 
                          <span style="font-weight: bold;">
                            {% if movie.type_movie == 1 %}
                                {% for cate in movie.category.all %}
                                    <a class="movie_category_tag_a" href="{% url 'product:category_cinematic' slug=cate.slug %}">{{ cate.title }}</a>
                                {% endfor %}
                            {% else %}   
                                {% for cate in movie.category.all %}
                                    <a class="movie_category_tag_a" href="{% url 'product:category_serial' slug=cate.slug %}">{{ cate.title }}</a>
                                {% endfor %} 
                            {% endif %}
                          </span>
                        </p>
                        <p>امتیاز: <span style="font-weight: bold;">{{ movie.IMDB_score }}</span></p>
                        <p>سال: <span style="font-weight: bold;">{{ movie.year }}</span></p>
                        <p>محصول کشور: 
                          <span style="font-weight: bold;">
                            {% if movie.type_movie == 1 %}
                              {% for cate in movie.country.all %}
                                <a class="movie_category_tag_a" href="{% url 'product:country_cinematic' slug=cate.slug %}">{{ cate.title }}</a>
                              {% endfor %}
                            {% else %} 
                              {% for cate in movie.country.all %}
                                <a class="movie_category_tag_a" href="{% url 'product:country_serial' slug=cate.slug %}">{{ cate.title }}</a>
                              {% endfor %}
                            {% endif %}
                          </span>
                        </p>
                        <p>کارگردان: <span style="font-weight: bold;">{{ movie.director }}</span></p>
                        <p>ستارگان: 
                          <span style="font-weight: bold;">
                            {% for artist in movie.artists.all %}
                              {{ artist.name }},
                            {% endfor %}
                          </span>
                        </p>
                        <p>خلاصه داستان: <span style="font-weight: bold;">{{ movie.MovieـSummary }}</span></p>
                        <a class="details_tag_a" href="{% url 'product:detail' slug=movie.slug %}">ادامه مطلب</a>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
              {% if movies.has_previous %}
                <a href="?page={{ movies.previous_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                {% if movies.number > 3 %}
                    <a href="?page=1">1</a>. . .
                {% endif %}
              {% endif %}
    
              {% for num in movies.paginator.page_range %}
                  {% if movies.number == num %}
                      <span class="current">
                          <a href="">{{ movies.number }}</a>
                      </span>
                  {% elif num > movies.number|add:'-3' and num < movies.number|add:'3' %}
                      <a href="?page={{num}}">{{num}}</a>
                  {% endif %}
              {% endfor %}
    
              {% if movies.has_next %}
                {% if movies.number < 3 %}
                  . . .<a href="?page={{ movies.paginator.num_pages }}">{{ movies.paginator.num_pages }}</a>
                {% endif %}
                <a href="?page={{ movies.next_page_number }}"><i class="fa fa-long-arrow-left"></i></a>
              {% endif %}
            </div>
        </div>
{% endblock %}          
        <div class="rightsid mt-1">
          محل تبلیغات
        </div>      
    </div>
      
  </div> 

    <footer>
      <div class="footer">
        وب سایت دانلود فیلم
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="{% static 'product/js/main.js' %}"></script>
  </body>
</html>